<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h3>Topic List</h3>
    <form action="/topics" th:object="${topic}"  method="POST">

        <input type="text" placeholder="Topic Name" th:field="${topic.name}">
        <br>
        <textarea type="text" placeholder="Enter Project Description" th:field="${topic.description}"></textarea>
        <br>
        <button type="submit" class="btn-success">Add Topic</button>

    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="aTopic : ${topicsList}">
            <td th:text="${aTopic.name}"></td>
            <td th:text="${aTopic.description}"></td>
            <td>
                    <a th:href="@{/topics/delete/{id}(id=${aTopic.id})}"><button class="btn-danger" type="submit">delete</button></a>

                <button class="btn-success">update</button>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>